SITE_URL=https://shieldscore.net
PLAUSIBLE_DOMAIN=shieldscore.net
GOOGLE_ANALYTICS_ID=
RING_AFFILIATE_ID=
SIMPLISAFE_AFFILIATE_ID=
ARLO_AFFILIATE_ID=
CUSTOM_AFFILIATE_BASE=https://shieldscore.net/go/
